
#reviews ul {
    background: #FFFFFF;
    border: 0 none;
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 0;
}
#reviews ul li {
    display: inline-block;
}
#reviews ul li a {
    color: #696763;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-right: 15px;
}

#reviews ul li a i {
    color: #FE980F;
    padding-right: 8px;
}

#reviews ul li a:hover {
    background: #fff;
    color: #FE980F;
}

#reviews p {
    color: #363432;
}

#reviews form span {
    display: block;
}

#reviews form span input {
    background: #F0F0E9;
    border: 0 none;
    color: #A6A6A1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    outline: medium none;
    padding: 8px;
    width: 48%;
}

#reviews form span input:last-child {
    margin-left: 3%;
}

#reviews textarea {
    background: #F0F0E9;
    border: medium none;
    color: #A6A6A1;
    height: 195px;
    margin-bottom: 25px;
    margin-top: 15px;
    outline: medium none;
    padding-left: 10px;
    padding-top: 15px;
    resize: none;
    width: 99.5%;
}

#reviews button {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
